[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
djangorestframework = "==3.9.1"
pylint = "==2.4.2"
pylint-django = {version = "*", extras = ["with_django"]}
django = "==1.10.8"
astroid = "==2.3.0"
parameterized = "*"
mock = "*"
gpxpy = "*"
coreapi = "*"
pytz = "*"
pyenchant = "*"

[requires]
python_version = "3.6"
